<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>CAS 考评系统</title>
    <!-- IE8/9 及以后的版本都会以最高版本IE来渲染页面 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 包含头部信息用于适应不同设备 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 包含 bootstrap 样式表 -->
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- 网站 logo -->
    <link rel="icon" href="{{ url_for('static', filename='admin/images/favicon.ico') }}">
    
    <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
    <!-- 自定义样式表 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/admin-base.css') }}">
    {% block css %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('admin.index') }}">CAS</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ url_for('admin.index') }}">分数列表</a>
                    </li>
                    <li>
                        <a href="{{ url_for('admin.user_list') }}">成员列表</a>
                    </li>
                    <li>
                        <a href="{{ url_for('admin.user_add') }}">添加成员</a>
                    </li>
                    <li>
                        <a href="{{ url_for('admin.pwd_edit') }}">修改密码</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ url_for('admin.logout') }}">退出</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="padding-top: 20px">
        <div class="row">
            <!-- <div class="col-sm-2 col-md-1"> -->
            <!-- {%include "admin/grid.html" %} -->
            <!-- </div> -->
            <div class="col-sm-12 col-md-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <!-- JavaScript 放置在文档最后面可以使页面加载速度更快 -->
    <!-- 可选: 包含 jQuery 库 -->
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- 可选: 合并了 Bootstrap JavaScript 插件 -->
    <script src="https://apps.bdimg.com/libs/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    {% block js %}
    {% endblock %}
</body>

</html>